@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root{
    --bg-clr: #212121;
    --txt-clr: #d8d8d8;
    --bg-clr-: #212121;
    --txt-clr-: #d8d8d8;
    --blue-clr: #36bdd8;
    --org-clr: #d83e00;
    --grn-clr: #00ff96;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: var(--bg-clr);
    color: var(--txt-clr);
    transition: .7s;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.title{
    text-decoration: none;
    color: var(--txt-clr);
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title b{
    color: var(--blue-clr);
}
    
.mode-switch{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.navbar{
    display: flex;
}

.navbar li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: var(--txt-clr);
    padding: 10px 10px;
    padding-bottom: 6px;
    position: relative;
}
.navbar a:hover{
    color: var(--txt-clr-);
    
}


.navbar a:after{
    content: "";
    position: absolute;
    background: var(--blue-clr);
    box-shadow: 0px 0px 10px var(--blue-clr);
    height: 30px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.4s;
    z-index: -1;
}
.navbar a:hover:after{
    width: 100%;
    
}

.hide{
    display: none;
}



.line{
    width: 100%;
    height: 2.5px;
    background: var(--blue-clr);
}



.hero{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1{
    color: transparent;
    font-size: 6rem;
    font-weight: 500;
    -webkit-text-stroke: 2px #fff;
    text-transform: uppercase;
}

.hero .star{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animate 8s ease-in-out infinite,
      backgroundmove 20s linear infinite 
    ;
}

.hero .star-1{
    animation-delay: 0s;
    background-image: url("img/star1.png");
}

.hero .star-2{
    animation-delay: -1s;
    background-image: url("img/star2.png");
}

.hero .star-3{
    animation-delay: -2s;
    background-image: url("img/star3.png");
}

.hero .star-4{
    animation-delay: -3s;
    background-image: url("img/star4.png");
}

.hero .star-5{
    animation-delay: -4s;
    background-image: url("img/star5.png");
}

.hero .star-6{
    animation-delay: -5s;
    background-image: url("img/star6.png");
}

.hero .star-7{
    animation-delay: -6s;
    background-image: url("img/star7.png");
}

.hero .star-8{
    animation-delay: -7s;
    background-image: url("img/star8.png");
}

@keyframes animate{
    0%,20%,40%,60%,80%,100%{
        opacity: 0;
    }
    
   10%,30%,50%,70%,90%{
       opacity: 1;
   }  
}

@keyframes backgroundmove{
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(2);
    }
}

.animate{
    position: relative;
    height: auto;
}

.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: var(--bg-clr);
    filter: saturate(2);
    overflow: hidden;

}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: var(--bg-clr);

}

.colorBox:hover{
    background: var(--blue-clr);
    transition: 0s;
}


@keyframes animBlock{
    0%{
        top: -60px;
    }
    100% {
        top: 120%;
    }
}

.about {
    padding: 65px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.about h2{
    font-size: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.about .about-line{
    background: var(--blue-clr);
    width: 20%;
    height: 2.5px;
    margin-bottom: 20px;
    margin-left: 40%;
}

.about p{
    font-size: 30px;
    font-weight: 500;
}

.mission {
    margin: 65px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.mission h2{
    font-size: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mission b{
    color: var(--blue-clr);
}

.mission .mis-line{
    background: var(--blue-clr);
    width: 20%;
    height: 2.5px;
    margin-bottom: 20px;
    margin-left: 40%;
}

.mission p{
    font-size: 30px;
    font-weight: 500;
}

.vision {
    padding: 65px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.vision h2{
    font-size: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.vision .vis-line{
    background: var(--blue-clr);
    width: 20%;
    height: 2.5px;
    margin-bottom: 20px;
    margin-left: 40%;
}

.vision p{
    font-size: 30px;
    font-weight: 500;
}

.vision b{
    color: var(--blue-clr);
}




footer{
    background: var(--bg-clr-);
    color: var(--txt-clr-);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 240px;
   
}

footer h2{
    text-align: center;
    padding: 10px 10px;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer b{
    color: var(--blue-clr);
}

footer a{
    color: var(--txt-clr-);
    text-decoration: none;
    font-size: 30px;
    padding: 20px 10px;
    padding-bottom: 20px;
}


footer i{
    color: var(--blue-clr);
    font-size: 30px;
}


@media (max-width: 780px){
     .navbar{
        display: none;
    }
    
    .hide{
        display: flex;
    }
}


@media (max-width: 638px){

  .hero{
        height: 200px;
    }
    .title{
        font-size: 20px;
    }
    
    .hero h1{
        font-size: 70px;
    }
    
    
    footer h2{
    font-size: 32px;
}

.info i{
    font-size: 23px;
}
.info a{
    font-size: 23px;
}
.info{
    margin-bottom: 15px;
}


.about .about-line{ 
    width: 45%;   
    margin-bottom: 20px;
    margin-left: 28%;
}

.about h2{
    font-size: 26px;
}

.about p{
    font-size: 20px;
}

.about{
    margin: 0px 2px;
    padding: 29px 5px;
}

.vision .vis-line{ 
    width: 45%;   
    margin-bottom: 20px;
    margin-left: 28%;
}

.vision h2{
    font-size: 26px;
}

.vision p{
    font-size: 20px;
}

.vision{
    margin: 0px 2px;
    padding: 29px 5px;
}

.mission .mis-line{ 
    width: 45%;   
    margin-bottom: 20px;
    margin-left: 28%;
}

.mission h2{
    font-size: 26px;
}

.mission p{
    font-size: 20px;
}

.mission{
    margin: 0px 2px;
    padding: 29px 5px;
}

}

@media (max-width: 375px){

  .hero h1{
        font-size: 50px;
    }
}    